<style>
    .search-btn {
        background-color: red;
        color: white;
        border-radius: 25px;
        padding: 0 1rem 0 1rem;
    }

    .search-btn:hover {
        background-color: red;
        color: white;
    }

    .search-btn i {
        display: inline;
        margin-right: 0.5rem;
    }

    .search-input {
        border-radius: 25px;


    }

   
</style>



<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/listings">Explore</a>
                <a class="nav-item nav-link position-relative" href="/chat/inbox">
    <i class="fa-regular fa-message" style="color: rgba(234, 42, 16, 1.00);"></i> 
    <b>Inbox</b>
</a>
            </div>

            <!-- search area -->
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search" action="/listings/search" method="GET">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search destination" name="q" aria-label="Search" required/>
                    <button class="btn search-btn" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>
                
            </div>


            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link" href="/listings/new">WL your home</a>
                <%if(!currUser){%>
                    <a class="nav-item nav-link " href="/signup"><b>SignUp</b></a>
                    <a class="nav-item nav-link" href="/login"><b>Login</b></a>
                    
                    <%}%>
                        <%if(currUser){%>
                            <a class="nav-item nav-link" href="/logout"><b>Logout</b></a>
                            <%}%>
                <a class="nav-item nav-link" href="/userdetail"><b><i class="fa-regular fa-circle-user" style="color: rgba(234, 42, 16, 1.00);"></i></b></a>




            </div>
        </div>
    </div>
</nav>

<script>
  const navbarCollapse = document.getElementById("navbarNavAltMarkup");
  navbarCollapse.addEventListener("show.bs.collapse", function () {
    document.body.style.overflow = "hidden";
  });
  navbarCollapse.addEventListener("hide.bs.collapse", function () {
    document.body.style.overflow = "auto";
  });
</script>
